
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.portafolio-DV6 {
  box-sizing: border-box;
  padding-top: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.portafolio-DV6 .auto-group-b45i-jLx {
  margin-bottom: 2.9rem;
  width: 100%;
  height: 87.5rem;
  position: relative;
  flex-shrink: 0;
}
.portafolio-DV6 .auto-group-b45i-jLx .fondo-UrG {
  box-sizing: border-box;
  padding: 2.5rem 19.1rem 32.4rem 52rem;
  width: 144rem;
  height: 60rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/imagen-bg.png');
}
.portafolio-DV6 .auto-group-b45i-jLx .fondo-UrG .menu-5r4 {
  margin: 0rem 0rem 9.6rem 48.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.portafolio-DV6 .auto-group-b45i-jLx .fondo-UrG .menu-5r4 .acerca-de-kSQ {
  margin-right: 0.9rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .auto-group-b45i-jLx .fondo-UrG .menu-5r4 .trabajos-ZPr {
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .auto-group-b45i-jLx .fondo-UrG .menu-5r4 .contacto-eAQ {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .auto-group-b45i-jLx .fondo-UrG .logo-LJ8 {
  margin-right: 32.9rem;
  width: 40rem;
  height: 13.3rem;
  position: relative;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .auto-group-b45i-jLx .fondo-UrG .logo-LJ8 .fotgrafo-profesional-E8c {
  width: 24.1rem;
  height: 3.5rem;
  position: absolute;
  left: 7.8rem;
  top: 7.5rem;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.portafolio-DV6 .auto-group-b45i-jLx .fondo-UrG .logo-LJ8 .rodrigo-palacio-EH2 {
  width: 34.6rem;
  height: 6.9rem;
  position: absolute;
  left: 2.6rem;
  top: 1rem;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ffffff;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.portafolio-DV6 .auto-group-b45i-jLx .fondo-UrG .logo-LJ8 .cuadro-JGt {
  width: 40rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #ffffff;
  box-sizing: border-box;
  border-radius: 1.6rem;
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 {
  width: 82.7rem;
  height: 37rem;
  position: absolute;
  left: 30.65rem;
  top: 50.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .perfil-RuE {
  margin: 0rem 31.85rem 3rem 31.85rem;
  width: calc(100% - 63.7rem);
  height: 19rem;
  border: solid 0.7rem rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/perfil-bg.png');
  border-radius: 9.5rem;
  flex-shrink: 0;
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .acerca-de-CoW {
  margin: 0rem 0rem 2.9rem 1.5rem;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.3618164062;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .acerca-de-CoW .acerca-de-CoW-sub-0 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #13f000;
  font-family: Open Sans, 'Source Sans Pro';
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .acerca-de-CoW .acerca-de-CoW-sub-1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr {
  max-width: 82.7rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #5a5a5a;
  font-family: Open Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr-sub-0 {
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr-sub-1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr-sub-2 {
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr-sub-3 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
}
.portafolio-DV6 .auto-group-b45i-jLx .acerga-de-BV6 .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr .capturando-momentos-inolvidables-con-el-arte-de-la-luz-transformo-tus-historias-en-imgenes-que-perduran-para-siempre-WDr-sub-4 {
}
.portafolio-DV6 .trabajos-zAx {
  margin-bottom: 4rem;
  box-sizing: border-box;
  padding: 4rem 21.2rem 9.9rem 21.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-6zg {
  margin: 0rem 0.4rem 3.3rem 0rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #323068;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ {
  width: 100%;
  height: 61.8rem;
  display: flex;
  align-items: center;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY {
  box-sizing: border-box;
  padding: 0.1rem 2.4rem 0rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 2.4rem;
  align-items: flex-end;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-whre-tfe {
  width: 23.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-whre-tfe .trabajo-1-2mr {
  margin-bottom: 2.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-whre-tfe .trabajo-1-2mr .imagen-6v8 {
  margin-bottom: 0.4rem;
  width: 23.5rem;
  height: 23.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-whre-tfe .trabajo-1-2mr .boda-d9N {
  margin: 0rem 0.3rem 0.9rem 0rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-whre-tfe .trabajo-1-2mr .virginia-eeuu-xBe {
  margin-right: 0.1rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #5a5a5a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-whre-tfe .trabajo-3-sZW {
  width: 100%;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-whre-tfe .trabajo-3-sZW .imagen-pUk {
  width: 23.5rem;
  height: 23.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-whre-tfe .trabajo-3-sZW .festival-wJU {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-whre-tfe .trabajo-3-sZW .c-de-mexico-mexico-fkG {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #5a5a5a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-q68c-PgG {
  width: 23.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-q68c-PgG .trabajo-6-whn {
  margin-bottom: 1.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-q68c-PgG .trabajo-6-whn .imagen-VDW {
  margin-bottom: 0.9794rem;
  width: 23.5rem;
  height: 23.4206rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-q68c-PgG .trabajo-6-whn .turismo-ozt {
  margin: 0rem 0.2rem 1rem 0rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-q68c-PgG .trabajo-6-whn .navarra-espaa-Ljv {
  margin-right: 0.4rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #5a5a5a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-q68c-PgG .trabajo-2-ekc {
  width: 100%;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-q68c-PgG .trabajo-2-ekc .imagen-odW {
  width: 23.5rem;
  height: 23.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-q68c-PgG .trabajo-2-ekc .maria-kYk {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-q68c-PgG .trabajo-2-ekc .mi-casa-argentina-W28 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #5a5a5a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-hanx-2mA {
  width: 23.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-hanx-2mA .trabajo-4-ygQ {
  margin-bottom: 2.4rem;
  width: 100%;
  row-gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-hanx-2mA .trabajo-4-ygQ .imagen-vbe {
  width: 23.5rem;
  height: 23.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-hanx-2mA .trabajo-4-ygQ .acampar-UdA {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-hanx-2mA .trabajo-4-ygQ .alaska-ee-uu-pwv {
  margin-left: 0.1rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #5a5a5a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-hanx-2mA .trabajo-7-kKn {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-hanx-2mA .trabajo-7-kKn .imagen-Js6 {
  margin-bottom: 0.9794rem;
  width: 23.5rem;
  height: 23.4206rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-hanx-2mA .trabajo-7-kKn .granja-r7v {
  margin: 0rem 0.5rem 1rem 0rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-rbcg-AzY .auto-group-hanx-2mA .trabajo-7-kKn .victoria-australia-yiL {
  margin-right: 0.4rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #5a5a5a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-umcy-tqJ {
  width: 23.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-umcy-tqJ .trabajo-5-S68 {
  margin-bottom: 2.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-umcy-tqJ .trabajo-5-S68 .imagen-z7e {
  margin-bottom: 0.9794rem;
  width: 23.5rem;
  height: 23.4206rem;
  position: relative;
  background-size: 138.767% 100%;
  background-position: -0.3603rem -0.0187rem;
  background-image: url('../assets/imagen.png');
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-umcy-tqJ .trabajo-5-S68 .abogado-4dJ {
  margin: 0rem 0.4rem 1rem 0rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-umcy-tqJ .trabajo-5-S68 .berlin-alemania-Bhv {
  margin-right: 0.3rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #5a5a5a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-umcy-tqJ .trabajo-8-7Lg {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-umcy-tqJ .trabajo-8-7Lg .imagen-3k8 {
  margin-bottom: 0.9794rem;
  width: 23.5rem;
  height: 23.4206rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-umcy-tqJ .trabajo-8-7Lg .luna-ytg {
  margin: 0rem 0.3rem 1rem 0rem;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #ff8900;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .trabajos-zAx .trabajos-DpQ .auto-group-umcy-tqJ .trabajo-8-7Lg .espacio-6TW {
  margin-right: 0.2rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #5a5a5a;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .contacto-PSc {
  margin: 0rem 39rem 4rem 39rem;
  width: calc(100% - 78rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.portafolio-DV6 .contacto-PSc .contacto-KLG {
  margin: 0rem 0rem 3.25rem 0.1rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #13f000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .contacto-PSc .auto-group-ppsw-pH2 {
  box-sizing: border-box;
  padding: 0rem 4.25rem 0rem 6.65rem;
  width: 100%;
  height: 24.65rem;
  flex-shrink: 0;
}
.portafolio-DV6 .contacto-PSc .auto-group-ppsw-pH2 .numero-Yip {
  width: 100%;
  height: 3.3rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.portafolio-DV6 .contacto-PSc .auto-group-ppsw-pH2 .numero-Yip .whatshapp--6VS {
  margin-right: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .contacto-PSc .auto-group-ppsw-pH2 .numero-Yip .numero-1sJ {
  margin-right: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .contacto-PSc .auto-group-ppsw-pH2 .numero-Yip .solo-mensajes-wkx {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.3625;
  color: #000000;
  font-family: Open Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.portafolio-DV6 .pie-de-pagina-4Kn {
  width: 100%;
  height: 20rem;
  background-color: #086a00;
  flex-shrink: 0;
}
