
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.portafolio-giQ {
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding-top: 0.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  box-sizing: border-box;

  .auto-group-echs-rmJ {
    margin-bottom: 2.9rem;
    width: 100%;
    height: 87.5rem;
    position: relative;
    flex-shrink: 0;

    .fondo-jCp {
      align-items: center;
      display: flex;
      width: 144rem;
      position: absolute;
      left: 0;
      flex-direction: column;
      background-image: url('REPLACE_IMAGE:ee4eb415d3355889cbc4400a97ded38dab99388b');
      background: linear-gradient(279.85deg, rgba(0, 255, 255, 0.3899999857) 100%, rgba(0, 0, 0, 0.3899999857) 179.17%);
      box-sizing: border-box;
      padding: 4rem 22rem 34.7rem 52rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 60rem;
      top: 0;

      .menu-QJx {
        margin: 0rem 0rem 5.8rem 46.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .acerca-de-vo6 {
          font-size: 1.6rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.6rem;
          cursor: pointer;
          color: #000000;
          font-weight: 300;
          line-height: 1.3625;
        }
        .trabajos-Uy2 {
          cursor: pointer;
          font-size: 1.6rem;
          color: #000000;
          flex-shrink: 0;
          white-space: nowrap;
          margin-right: 1.7rem;
          font-weight: 300;
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .contacto-BMe {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.6rem;
          font-weight: 300;
          line-height: 1.3625;
          color: #000000;
        }
      }
      .logo-hat {
        margin-right: 30rem;
        width: 40rem;
        height: 13.3rem;
        position: relative;
        border-radius: 1.6rem;
        flex-shrink: 0;

        .desarrollador-web-RFz {
          width: 21.2rem;
          height: 3.5rem;
          left: 9rem;
          top: 7.5rem;
          font-size: 2.5rem;
          font-weight: 300;
          font-family: Open Sans, 'Source Sans Pro';
          position: absolute;
          line-height: 1.3625;
          color: #000000;
          white-space: nowrap;
        }
        .matias-badaloni-K6U {
          position: absolute;
          left: 1.9rem;
          font-weight: 300;
          width: 35.6rem;
          top: 1rem;
          font-size: 5rem;
          line-height: 1.3625;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          height: 6.9rem;
        }
        .cuadro-RQQ {
          border: solid 0.2rem #000000;
          box-sizing: border-box;
          border-radius: 1.6rem;
          width: 40rem;
          height: 12rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .acerga-de-Cxt {
      height: 37rem;
      position: absolute;
      left: 30.6rem;
      top: 50.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 82.8rem;

      .perfil-XVN {
        background-size: 100% 100%;
        background-position: center;
        width: calc(100% - 63.8rem);
        box-sizing: border-box;
        border: solid 0.7rem rgba(255, 255, 255, 0.5);
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:6283707a08de11fbc407943c4194298756c90682');
        border-radius: 9.5rem;
        flex-shrink: 0;
        margin: 0rem 31.9rem 3rem 31.9rem;
        height: 19rem;
      }
      .acerca-de-oBz {
        margin: 0rem 0rem 2.9rem 1.5rem;
        font-size: 4rem;
        font-weight: 300;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        line-height: 1.3618164062;
        white-space: nowrap;
        display: flex;
        align-items: baseline;

        .acerca-de-oBz-sub-0 {
          font-size: 4rem;
          font-weight: 300;
          line-height: 1.3625;
          color: #dd8200;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .acerca-de-oBz-sub-1 {
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 300;
          line-height: 1.3625;
        }
      }
      .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4 {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.3625;
        color: #5a5a5a;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 82.8rem;

        .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4-sub-0 {
        }
        .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4-sub-1 {
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #3065f0;
        }
        .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4-sub-2 {
        }
        .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4-sub-3 {
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #3065f0;
        }
        .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4-sub-4 {
        }
        .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4-sub-5 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #3065f0;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4-sub-6 {
        }
        .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4-sub-7 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #3065f0;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .soy-matas-badaloni-diseador-web-comprometido-en-ofrecer-calidad-y-creatividad-a-precios-accesibles-hablemos-de-tu-proyecto-3e4-sub-8 {
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #3065f0;
        }
      }
    }
  }
  .trabajos-f56 {
    padding: 4rem 21.2rem 9.8rem 21.6rem;
    background-color: #f2f2f2;
    flex-shrink: 0;
    margin-bottom: 4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .trabajos-xpt {
      margin: 0rem 0.4rem 3.3rem 0rem;
      font-weight: 300;
      line-height: 1.3625;
      text-align: center;
      font-size: 4rem;
      color: #323068;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .trabajos-Gag {
      align-items: flex-end;
      border-radius: 1.6rem;
      flex-shrink: 0;
      width: 100%;
      display: flex;
      column-gap: 2.4rem;

      .auto-group-gmgp-P9W {
        width: 23.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .trabajo-1-7rC {
          margin-bottom: 2.7rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 1.6rem;
          flex-shrink: 0;

          .imagen-TfA {
            margin-bottom: 0.3551rem;
            width: 23.5rem;
            height: 23.4rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
            flex-shrink: 0;
          }
          .cafeteria-KzC {
            font-weight: 300;
            line-height: 1.3625;
            color: #3895ea;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.9449rem;
            font-size: 1.6rem;
          }
          .jquery-js-39W {
            line-height: 1.3625;
            color: #5a5a5a;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-size: 1.4rem;
            font-weight: 300;
          }
        }
        .trabajo-3-AE8 {
          border-radius: 1.6rem;
          flex-shrink: 0;
          width: 100%;
          row-gap: 1rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .imagen-hzk {
            flex-shrink: 0;
            width: 23.5rem;
            height: 23.5rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
          }
          .documental-rMr {
            color: #3895ea;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.3625;
          }
          .html-css-NLC {
            color: #5a5a5a;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.3625;
          }
        }
      }
      .auto-group-ecyl-Hi4 {
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        width: 23.5rem;
        align-items: center;
        display: flex;

        .trabajo-6-S5A {
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 1.6rem;

          .imagen-mt8 {
            flex-shrink: 0;
            margin-bottom: 0.9794rem;
            width: 23.5rem;
            height: 23.4206rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
          }
          .turismo-txk {
            color: #3895ea;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.2rem 1rem 0rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.3625;
          }
          .wordpress-BS4 {
            font-weight: 300;
            line-height: 1.3625;
            color: #5a5a5a;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.4rem;
            font-size: 1.4rem;
          }
        }
        .trabajo-7-hvC {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 1.6rem;
          flex-shrink: 0;

          .imagen-UAG {
            flex-shrink: 0;
            margin-bottom: 0.9794rem;
            width: 23.5rem;
            height: 23.4206rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
          }
          .fotgrafo-1AC {
            color: #3895ea;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0.7rem 1rem 0rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.3625;
          }
          .figma-iqJ {
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.3625;
            color: #5a5a5a;
          }
        }
      }
      .auto-group-qv1e-SWQ {
        flex-direction: column;
        flex-shrink: 0;
        width: 23.5rem;
        align-items: center;
        display: flex;

        .trabajo-4-o64 {
          display: flex;
          flex-direction: column;
          border-radius: 1.6rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          row-gap: 1rem;
          align-items: center;

          .imagen-wi4 {
            width: 23.5rem;
            height: 23.5rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
            flex-shrink: 0;
          }
          .startup-5ZN {
            line-height: 1.3625;
            color: #3895ea;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-size: 1.6rem;
            font-weight: 300;
          }
          .boostrap-js-cJQ {
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.1rem;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.3625;
            color: #5a5a5a;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .trabajo-2-W8t {
          flex-shrink: 0;
          width: 100%;
          row-gap: 1rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 1.6rem;

          .imagen-4AQ {
            flex-shrink: 0;
            width: 23.5rem;
            height: 23.5rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
          }
          .gimnasio-QVA {
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.3625;
            color: #3895ea;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .flexbox-8g4 {
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.3625;
            color: #5a5a5a;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-ghtq-fR6 {
        margin-bottom: 0.0936rem;
        width: 23.5rem;
        height: 61.8064rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .trabajo-5-zTN {
          flex-direction: column;
          border-radius: 1.6rem;
          flex-shrink: 0;
          margin-bottom: 2.6rem;
          width: 100%;
          align-items: center;
          display: flex;

          .imagen-kBe {
            margin-bottom: 0.9794rem;
            height: 23.4206rem;
            background-position: -36.3996rem 0;
            border-radius: 1.6rem;
            flex-shrink: 0;
            width: 23.5rem;
            position: relative;
            background-size: 355.936% 100%;
            background-image: url('REPLACE_IMAGE:36cba6667be0ed5c93ae749638c6af1aa9f9db77');
          }
          .comedor-Ecc {
            flex-shrink: 0;
            margin: 0rem 0.1rem 1rem 0rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.3625;
            color: #3895ea;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .boostrap-y4Q {
            color: #5a5a5a;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.1rem;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.3625;
          }
        }
        .trabajo-8-TEU {
          flex-direction: column;
          border-radius: 1.6rem;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;

          .imagen-b5n {
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.6rem;
            flex-shrink: 0;
            margin-bottom: 0.9794rem;
            width: 23.5rem;
            height: 23.4206rem;
          }
          .radio-tag {
            flex-shrink: 0;
            margin: 0rem 0.4rem 1.006rem 0rem;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 1.3625;
            color: #3895ea;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
          .html-css-js-oxY {
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.3625;
            color: #5a5a5a;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .contacto-6Ax {
    margin: 0rem 39rem 4rem 39rem;
    width: calc(100% - 78rem);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .contacto-DmN {
      line-height: 1.3625;
      color: #3895ea;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-size: 4rem;
      font-weight: 300;
      flex-shrink: 0;
      margin: 0rem 0rem 3.25rem 0.1rem;
    }
    .auto-group-2xys-jji {
      box-sizing: border-box;
      padding: 0rem 4.25rem 0rem 6.65rem;
      width: 100%;
      height: 24.65rem;
      flex-shrink: 0;

      .numero-sL8 {
        align-items: center;
        width: 100%;
        height: 3.3rem;
        overflow: hidden;
        position: relative;
        display: flex;

        .whatshapp--PJU {
          color: #000000;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 3rem;
          font-size: 2.4rem;
          font-weight: 300;
        }
        .numero-Hue {
          line-height: 1.3625;
          white-space: nowrap;
          justify-content: center;
          font-size: 2.4rem;
          font-weight: 300;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          margin-right: 1.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
        }
        .solo-mensajes-DYQ {
          display: flex;
          justify-content: center;
          font-size: 2.4rem;
          font-weight: 300;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          line-height: 1.3625;
          color: #000000;
          flex-shrink: 0;
        }
      }
    }
  }
  .pie-de-pagina-LN8 {
    background-color: #1e2b38;
    flex-shrink: 0;
    width: 100%;
    height: 20rem;
  }
}
